# -- Editing / Nav / Fs --------------------------------------------------------
alias ...='cd ../../'
alias ....='cd ../../../'
alias ag='ag --hidden'
ff() {
  INAMES=()
  for X in "$@"; do
    INAMES+=("-iname" "*${X}*")
  done
  find ./ $INAMES
}
alias s='subl3 -b -a'
alias svi='sudo vim'
sag() {
  s $(ag -l "$@" | peco)
}
sff() {
  s $(ff "$@" | peco)
}
vil() {
  vi "${1}" +$(< "${1}" | nl -ba -nln | peco | cut -d' ' -f1)
}
alias i='idea'
own() {
  sudo chown -R $(id -un): .
}
alias sshfs="sshfs -o idmap=user,allow_other,reconnect,no_readahead,uid=$(id -u),gid=$(id -g),umask=113"

# -- Containers ----------------------------------------------------------------
alias dk='docker-compose'
dps() {
  docker ps $@ --format "table {{.ID}}\t{{.Names}}\t{{.Status}}\t{{.Image}}\t{{.Ports}}" | grep -v pause
}
alias k='kubectl'
kcs() {
  local q_par
  [ ! -z "$@" ] && q_par="--query $@"
  context=$(kubectl config get-contexts --no-headers | sort | peco ${=q_par} | tr -s ' ' | cut -d' ' -f2)
  [ ! -z "$context" ] && kubectl config use-context $context
}

kns() {
  local q_par
  [ ! -z "$@" ] && q_par="--query $@"
  ns=$(kubectl get namespaces --no-headers | sort | peco ${=q_par} | tr -s ' ' | cut -d' ' -f1)
  [ ! -z "$ns" ] && kubectl config set-context $(kubectl config current-context) --namespace="$ns"
}
alias koff='kubectl config unset current-context'

# -- Cops ----------------------------------------------------------------------
stm() {
  q_par=''; q=''
  [ ! -z "$@" ] && q_par='--query' && q="$@"

  ec2-toys list --filters "Name=instance-state-name,Values=running Name=tag:Team,Values=$TEAM_TAG" \
  | grep linux | peco $q_par $q \
  | awk {'print $2'} \
  | xargs -I{} sh -c 'ssh {} < /dev/tty' ssh
}

# -- Languages -----------------------------------------------------------------
alias npm.removeglobals="npm ls -gp | awk -F/ '/node_modules/ && !/node_modules.*node_modules/ {print $NF}' | xargs npm -g rm" # node
alias cow='composer update nothing' # php

# -- Storage -------------------------------------------------------------------
alias to='tomb open $TOMB_FILE -k $TOMB_KEY -f'
alias tc='tomb close'

# -- Z / Misc ------------------------------------------------------------------
alias bup='sudo systemctl start bubbleupnpserver.service'
alias derp='eval $(thefuck $(fc -ln -1 | tail -n 1)); fc -R'
alias vps="mosh vps -p 1919"
alias sctl='supervisorctl'
TEEE="t -t ${HOME}/Dropbox/Tasks"
alias t="${TEEE}"
alias tlk="${TEEE} -l k"
alias tlro="${TEEE} -l ro"
tsh() { ssh -t $@ "tmux attach -t base || exec tmux new -s base" }
alias yaourt='yaourt --noconfirm'
_pass() {
  local fzf_cmd q_par
  fzf_cmd=$1; shift
  [ ! -z "$@" ] && q_par="--query $@"
  lpass status -q || lpass login --trust ${LPASS_USER}
  lpass ls  | $fzf_cmd ${=q_par} -1 | awk '{print $(NF)}' | sed 's/\]//g'
}
pass()  { lpass show -c --password $(_pass fzf-tmux "$@") }
ipass() { lpass show --password $(_pass fzf "$@") }
