# -- Nav / Fs ------------------------------------------------------------------
alias pbcopy='xsel -b'
alias ...='cd ../../'
alias ....='cd ../../../'
RIPGREP="rg --hidden --follow --smart-case"
alias ag="$RIPGREP"

fzf_cmd() {
  # Drop empty queries
  local fzf_args="$(echo $* | awk '{$1=$1};1')"
  if [[ "--query" == "$fzf_args" ]]; then
    fzf_args=""
  fi

  cat | fzf-tmux $fzf_args | tail -n +2
}

own() {
  sudo chown -R $(id -un): $*
}

# -- Editors ----------------------------------------------------------------
alias s='subl3 -a'
alias svi='sudo vim'
sag() {
  local file_list
  file_list=$(ag $* | fzf_cmd)
  [[ ! -z $file_list ]] && s $file_list
}
vil() {
  vi "${1}" +$(< "${1}" | nl -ba -nln | fzf_cmd | cut -d' ' -f1)
}
i() {
  /opt/intellij-idea-ultimate-edition/bin/idea.sh $* 2>/dev/null 1>&2 &
}

# -- Containers ----------------------------------------------------------------
alias k='kubectl'
alias dk='docker-compose'
dps() {
  docker ps $@ --format "table {{.ID}}\t{{.Names}}\t{{.Status}}\t{{.Image}}\t{{.Ports}}" | grep -v pause
}
alias koff='kubectl config unset current-context'

# -- Storage -------------------------------------------------------------------
alias to='tomb open $TOMB_FILE -k $TOMB_KEY -f'
alias tc='tomb close'
alias sshfs="sshfs -o idmap=user,allow_other,reconnect,no_readahead,uid=$(id -u),gid=$(id -g),umask=113"

# -- Z / Misc ------------------------------------------------------------------
alias derp='eval $(thefuck $(fc -ln -1 | tail -n 1)); fc -R'
alias vps="mosh vps -p 1919"
TEEE="t -t ${HOME}/Dropbox/Tasks"
alias t="${TEEE}"
alias tlk="${TEEE} -l k"
alias tlro="${TEEE} -l ro"
tsh() {
  ssh -t $@ "tmux attach -t base || exec tmux new -s base"
}
alias yaourt='yaourt --noconfirm'
_pass() {
  local fzf_cmd
  fzf_cmd=$1; shift
  lpass status -q || lpass login --trust ${LPASS_USER}
  lpass ls  | $fzf_cmd --query "$*" -1 | awk '{print $(NF)}' | sed 's/\]//g'
}
pass() {
  lpass show --password $(_pass fzf "$@")
}
tn() {
  local s_name
  s_name=${@:-base}
  tmux attach -t ${=s_name} || tmux new -s ${=s_name}
}
alias ccat='pygmentize -g'
