[Unit]
Description=Scream from the Wingoz VM on ALSA
After=network.target

[Service]
Type=simple
ExecStartPre=-systemctl --user stop "pipewire*" "pulseaudio*" mpd@pulse
ExecStart=scream -v -o alsa -d "plughw:1,0" -m /dev/shm/scream-ivshmem -t 150
ExecStopPost=-systemctl --user start pipewire pipewire-media-session pipewire-pulse pulseaudio pulseaudio.socket
ExecStopPost=-systemctl --user restart mpd@pulse
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target

