[Unit]
Description=UPnP Daemon CLI
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/upmpdcli -c ${HOME}/.config/upmpdcli.conf -f %H-upnp

[Install]
WantedBy=default.target

