[branch]
	autosetuprebase = always
[color "branch"]
	current = green reverse
	local = green
	remote = yellow
[color "status"]
	added = green
	changed = yellow
	untracked = blue
[core]
	autocrlf = input
	editor = subl3 -w
	excludesfile = ~/.gitexcludes
	pager = /usr/share/git/diff-highlight/diff-highlight | less --tabs=4 -RFX
	untrackedCache = true
[commit]
	gpgsign = true
[interactive]
	diffFilter = "/usr/share/git/diff-highlight/diff-highlight"
[merge]
	tool = meld
[mergetool]
	keepBackup = false
	prompt = false
[push]
	default = current
[rebase]
	autosquash = true
	autostash = true
[user]
	name = Rareș Cosma
	email = rares@getbetter.ro
	signingkey = 0xD00EC1BBBA4D3352
	useConfigOnly = true
[includeif "gitdir:~/src/klarna/"]
	path = ~/.gitconfig.work
