[user]
  name = Rareș Cosma
  email = rares@getbetter.ro
  signingkey = 0xD00EC1BBBA4D3352
[core]
  editor = subl3
  excludesfile = ~/.gitexcludes
[color]
  ui = true
[push]
  default = tracking
[include]
  path = ~/.gitconfig_local
[merge]
  tool = meld
[mergetool "meld"]
  keepBackup = false
[alias]
   # Undo / Ammend
  undo = reset --soft HEAD^
  ammend = commit --amend -C HEAD

  # Push all / Pull all
  pushall = push --recurse-submodules=on-demand
  pullall = !git pull && git submodule update --init --recursive
[commit]
  gpgsign = true
