configuration {
    font: "IosevkaRar Nerd Font Propo 12";
    combi-modi: "xrun:~/bin/xrun,rfh:~/bin/rfh,window,ssh,drun";
    ssh-command: "tmux new-window -n '@{host}' 'ssh {host}'";
    sorting-method: "fzf";
}

@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
