configuration {
    theme: "/usr/share/rofi/themes/glue_pro_blue.rasi";
    font: "iosevka 24";
    combi-modi: "tmux:rfh tmux,tuya:rfh tuya,window,ssh,drun";
    ssh-command: "tmux new-window -n '@{host}' 'ssh {host}'";
}
