[submodule "_vendor/oh-my-zsh"]
	path = _vendor/oh-my-zsh
	url = https://github.com/rarescosma/env.oh-my-zsh
[submodule "_vendor/fzf"]
	path = _vendor/fzf
	url = https://github.com/rarescosma/env.fzf
[submodule "_vendor/fz"]
	path = _vendor/fz
	url = https://github.com/rarescosma/env.fz
[submodule "_vendor/memoize"]
	path = _vendor/memoize
	url = https://github.com/rarescosma/memoize
[submodule "_vendor/z"]
	path = _vendor/z
	url = https://github.com/rupa/z
[submodule "_vendor/autoenv"]
	path = _vendor/autoenv
	url = https://github.com/zpm-zsh/autoenv
[submodule "_vendor/zsh-vi-mode"]
	path = _vendor/zsh-vi-mode
	url = https://github.com/rarescosma/env.zsh-vi-mode.git
