[submodule "_vendor/oh-my-zsh"]
	path = _vendor/oh-my-zsh
	url = git@github.com:rarescosma/env.oh-my-zsh.git
[submodule "_vendor/fzf"]
	path = _vendor/fzf
	url = git@github.com:rarescosma/env.fzf.git
[submodule "_vendor/fz"]
	path = _vendor/fz
	url = git@github.com:rarescosma/env.fz.git
[submodule "_vendor/memoize"]
	path = _vendor/memoize
	url = git@github.com:rarescosma/memoize.git
[submodule "_vendor/z"]
	path = _vendor/z
	url = git://github.com/rupa/z.git

