<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>ro.getbetter.${DAEMON}.daemon</string>
  <key>ProgramArguments</key>
  <array>
    <string>${HOME}/bin/${DAEMON}-daemon</string>
    <string>--trampoline</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardErrorPath</key>
  <string>/tmp/${DAEMON}-daemon</string>
  <key>StandardOutPath</key>
  <string>/tmp/${DAEMON}-daemon</string>
</dict>
</plist>
