[Unit]
Description=i3 startup wrapper
PartOf=graphical-session.target

[Service]
ExecStart=%h/bin/i3-startup
Restart=always

[Install]
WantedBy=graphical-session.target
