scgi_port = 192.168.5.140:5000

# Maximum and minimum number of peers to connect to per torrent.
min_peers = 40
max_peers = 100

# Same as above but for seeding completed torrents (-1 = same as downloading)
min_peers_seed = 10
max_peers_seed = 50

# Maximum number of simultanious uploads per torrent.
max_uploads = 5

# Global upload and download rate in KiB. "0" for unlimited.
download_rate = 20480
upload_rate = 500

# Default directory to save the downloaded torrents.
directory = /mnt/seedbox/fresh

# Default session directory
session = ~/session_2

# Watch a directory for new torrents, and stop those that have been
# deleted.
schedule = watch_directory,5,5,load.start=/mnt/seedbox/candy/*.torrent

# Notify pushover clients when torrent finishes
method.set_key = event.download.finished,edf,"execute=/home/ubuntu/bin/pushover,\"Finished pirating the s*** out of\",$d.name="

# Port range to use for listening.
port_range = 51413-51413
bind = 192.168.5.140
dht = on
dht_port = 6881

# Start opening ports at a random position within the port range.
port_random = no

# Encryption options, set to none (default) or any combination of the following:
# allow_incoming, try_outgoing, require, require_RC4, enable_retry, prefer_plaintext
encryption = allow_incoming,enable_retry,prefer_plaintext

check_hash = no

#system.file.allocate = 1


