[Unit]
Description=rclone glacier backup

[Service]
Type=oneshot

# Lower CPU and I/O priority.
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100

LogRateLimitIntervalSec=0

ExecStart=systemd-inhibit \
  --who="rclone" --why="Prevents interrupting scheduled glaciation" \
  /sbin/sudo -H -u karelian /etc/backup/autoglacier/autoglacier.sh
