[Unit]
Description=borgmatic backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

# Lower CPU and I/O priority.
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100

LogRateLimitIntervalSec=0

ExecStart=systemd-inhibit --who="borgmatic-%i" --why="Prevents interrupting scheduled backup" /usr/bin/borgmatic --syslog-verbosity 1 -c /etc/backup/autoborg/%i.yaml
