[Unit]
Description=Rest In Peace
DefaultDependencies=no

[Service]
User=karelian
Group=karelian
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/zsh -c "source /home/karelian/.zsh/functions.zsh; tc || true"

[Install]
WantedBy=umount.target

