[Unit]
Description=Rest In Peace
DefaultDependencies=no

[Service]
User=karelian
Group=karelian
Type=oneshot
RemainAfterExit=true
ExecStart=bash -c "/home/karelian/bin/,tomb ,close || true"

[Install]
WantedBy=umount.target

