KERNEL=="sd[a-z]*", ACTION=="add", ENV{ID_FS_UUID_ENC}=="?*", ENV{ID_BUS}=="usb", TAG+="systemd", ENV{SYSTEMD_WANTS}="replicate_backup@%E{ID_FS_UUID_ENC}.service"

