! Fonts
! -----
Xft.dpi: 144
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.embeddedbitmap: 0

urxvt.font:           xft:Consolas:pixelsize=26
urxvt.boldFont:       xft:Consolas:bold:pixelsize=26
urxvt.italicFont:     xft:Consolas:italic:pixelsize=26
urxvt.boldItalicFont: xft:Consolas:bold:italic:pixelsize=26

URxvt.letterSpace: -1

URxvt*termName:  rxvt-unicode
URxvt*scrollTtyKeypress:  true
URxvt*scrollTtyOutput:  false
URxvt*scrollWithBuffer:  true
URxvt*skipScroll:  false
URxvt*visualBell:  false
URxvt.scrollBar: false


! Copypaste / ResizeFont
! ----------------------
URxvt.iso14755: False
URxvt.iso14755_52: False
URxvt.perl-ext-common: default,matcher,selection-to-clipboard,clipboard,resize-font
URxvt.keysym.Control-v: perl:clipboard:paste
URxvt.keysym.Control-Shift-C: perl:clipboard:copy
URxvt.clipboard.autocopy:   true
URxvt.clipboard.copycmd:    xclip -i -selection clipboard
URxvt.clipboard.pastecmd:   xclip -o -selection clipboard
URxvt.matcher.button: 1
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true


! Control fix
! -----------
URxvt.keysym.M-Left:        \033[1;5D
URxvt.keysym.M-Right:       \033[1;5C
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C


! Colors
! ------
#define Ansi_0_Color #343935
#define Ansi_1_Color #cf3f61
#define Ansi_10_Color #767f2c
#define Ansi_11_Color #78592f
#define Ansi_12_Color #1f8fc2
#define Ansi_13_Color #604291
#define Ansi_14_Color #76bbca
#define Ansi_15_Color #b2b5ae
#define Ansi_2_Color #7bb75b
#define Ansi_3_Color #e9b32a
#define Ansi_4_Color #4c9ad4
#define Ansi_5_Color #a57fc4
#define Ansi_6_Color #389aad
#define Ansi_7_Color #fafaf6
#define Ansi_8_Color #595b59
#define Ansi_9_Color #d18fa6
#define Background_Color #1e1e1e
#define Bold_Color #fffffa
#define Cursor_Color #edcf4f
#define Cursor_Text_Color #343935
#define Foreground_Color #edebd4
#define Selected_Text_Color #f7f6ec
#define Selection_Color #175877

Rxvt*color0:       Ansi_0_Color
Rxvt*color1:       Ansi_1_Color
Rxvt*color2:       Ansi_2_Color
Rxvt*color3:       Ansi_3_Color
Rxvt*color4:       Ansi_4_Color
Rxvt*color5:       Ansi_5_Color
Rxvt*color6:       Ansi_6_Color
Rxvt*color7:       Ansi_7_Color
Rxvt*color8:       Ansi_8_Color
Rxvt*color9:       Ansi_9_Color
Rxvt*color10:      Ansi_10_Color
Rxvt*color11:      Ansi_11_Color
Rxvt*color12:      Ansi_12_Color
Rxvt*color13:      Ansi_13_Color
Rxvt*color14:      Ansi_14_Color
Rxvt*color15:      Ansi_15_Color
Rxvt*colorBD:      Bold_Color
Rxvt*foreground:   Foreground_Color
Rxvt*cursorColor:  Ansi_4_Color

*depth: 32
Rxvt*background:   [90]Background_Color
*fading: 20
*fadeColor: #000000
