# -- Navigation ----------------------------------------------------------------
alias ...='cd ../../'
alias ....='cd ../../../'

# -- APT -----------------------------------------------------------------------
alias sa='sudo apt-get'
alias sai='sudo apt-get install'
alias sau='sudo apt-get update'
alias saug='sudo apt-get upgrade'
alias sadug='sudo apt-get dist-upgrade'
alias sar='sudo apt-get remove'
alias sap='sudo apt-get --purge autoremove'
alias sac='sudo apt-get autoclean'
alias ac='apt-cache'
depends() { z=`mktemp`; apt-rdepends -d $1 | dot > $z && dotty $z }

# -- Node ----------------------------------------------------------------------
alias npm.removeglobals="npm ls -gp | awk -F/ '/node_modules/ && !/node_modules.*node_modules/ {print $NF}' | xargs npm -g rm"
alias npm.cleanhome='rm -rf ~/.npm-packages'

# -- Python --------------------------------------------------------------------
alias v='workon'
alias v.deactivate='deactivate'
alias v.mk='mkvirtualenv --no-site-packages'
alias v.mk_withsitepackages='mkvirtualenv'
alias v.rm='rmvirtualenv'
alias v.switch='workon'
alias v.add2virtualenv='add2virtualenv'
alias v.cdsitepackages='cdsitepackages'
alias v.cd='cdvirtualenv'
alias v.lssitepackages='lssitepackages'

# -- PHP -----------------------------------------------------------------------
alias cow='composer update nothing'

# -- Editors -------------------------------------------------------------------
alias s='dev.subl'
alias svi='sudo vi'
bag() { dev.subl $(ag -l $1 | percol) }

# -- Misc ----------------------------------------------------------------------
alias fuck='eval $(thefuck $(fc -ln -1 | tail -n 1)); fc -R'
alias veewee="bundle exec veewee"
alias vps="mosh vps -p 1919"
alias dontstarve="cd /home/karelian/_/play/dontstarve; sudo ./updater/22/updater; cd -"
tsh() { ssh -t $@ "tmux attach -t base || exec tmux new -s base" }
alias t="tmux attach -t base || exec tmux new -s base"
alias vpn="net.vpn.toggle"

# -- Vagrant -------------------------------------------------------------------
alias vup="vagrant up --no-provision"
alias vupp="vagrant up --provision"
alias vprov="vagrant provision"
alias vdown="vagrant halt"
alias vssh="vagrant ssh"
vcmd() { XS=""; for X in "$@"; do XS="${XS} \"${X}\""; done; vssh -c $XS }
