# -- Navigation ----------------------------------------------------------------
alias ...='cd ../../'
alias ....='cd ../../../'
alias lr='ls -lhR'
ff() {
  INAMES=()
  for X in "$@"; do
    INAMES+=("-iname" "*${X}*")
  done
  find ./ $INAMES
}

# -- APT -----------------------------------------------------------------------
if (( $+commands[apt] )); then
  alias sa='sudo apt-get'
  alias sai='sudo apt-get install'
  alias sau='sudo apt-get update'
  alias saug='sudo apt-get upgrade'
  alias sadug='sudo apt-get dist-upgrade'
  alias sar='sudo apt-get remove'
  alias sap='sudo apt-get --purge autoremove'
  alias sac='sudo apt-get autoclean'
  alias ac='apt-cache'
  depends() { z=`mktemp`; apt-rdepends -d $1 | dot > $z && dotty $z }
fi

# -- Node ----------------------------------------------------------------------
alias npm.removeglobals="npm ls -gp | awk -F/ '/node_modules/ && !/node_modules.*node_modules/ {print $NF}' | xargs npm -g rm"
alias npm.cleanhome='rm -rf ~/.npm-packages'

# -- PHP -----------------------------------------------------------------------
alias cow='composer update nothing'

# -- Editors -------------------------------------------------------------------
alias s='subl3 -b -a'
alias svi='sudo vim'
sag() {
  s $(ag -l "$@" | percol)
}
sff() {
  s $(ff "$@" | percol)
}

# -- Misc ----------------------------------------------------------------------
alias fuck='eval $(thefuck $(fc -ln -1 | tail -n 1)); fc -R'
alias vps="mosh vps -p 1919"
tsh() { ssh -t $@ "tmux attach -t base || exec tmux new -s base" }
alias t="tmux attach -t base || exec tmux new -s base"
dps() {
  docker ps $@ --format "table {{.ID}}\t{{.Names}}\t{{.Status}}\t{{.Image}}\t{{.Ports}}" | grep -v pause
}
alias dk='docker-compose'
alias bup='sudo systemctl start bubbleupnpserver.service'
alias sctl='supervisorctl'

# -- Vagrant -------------------------------------------------------------------
alias vup="vagrant up --no-provision"
alias vupp="vagrant up --provision"
alias vprov="vagrant provision"
alias vdown="vagrant halt"
alias vssh="vagrant ssh"
vcmd() { XS=""; for X in "$@"; do XS="${XS} \"${X}\""; done; vssh -c $XS }

# -- Tomb ----------------------------------------------------------------------
alias to='tomb open ~/tomb -k ~/heart.jpg -f'
alias tc='tomb close'

