[branch]
	autosetuprebase = always
[color]
	ui = true
[color "branch"]
	current = green reverse
	local = green
	remote = yellow
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "status"]
	added = green
	changed = yellow
	untracked = blue
[core]
	autocrlf = input
	excludesfile = ~/.gitexcludes
	pager = diff-so-fancy | less --tabs=4 -RFX
	untrackedCache = true
[commit]
	gpgsign = true
[init]
	templatedir = ~/.config/git-template
	defaultBranch = main
[interactive]
	diffFilter = "/usr/share/git/diff-highlight/diff-highlight"
[merge]
	tool = meld
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "meld"]
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[push]
	default = current
	autoSetupRemote = true
[rebase]
	autosquash = true
	autostash = true
[user]
	name = Rareș Cosma
	email = rares@getbetter.ro
	signingkey = 0xD00EC1BBBA4D3352
	useConfigOnly = true
[pull]
	ff = only
